<h1>This is where I am doing some testing...</h1>
<hr>
<h2>Sandbox Builds:</h2>
<h3><%= link_to "First Lease Plan", firstlp_path  %></h3>
<p>Here is my first attempt at getting some of the options we need from Leaflet and RoR to work!</p>

<h3><%= link_to "Areas First Try", areas_path  %></h3>
<p>Created an Areas model to see if I can plot points from coords saved in a database.</p>
<p>*So far here I can save coordinates manually and get them to display individually on the show page, but not yet altogether on the index page.</p>
<hr>
<h2>Tutorials (from http://leafletjs.com/):</h2>

<h3><%= link_to "Quickstart", quickstart_path  %></h3>
<p>Added this with commented notes within source. I have a pretty good understanding of what is going here.
<br>***Special note - this shows how to produce coords from clicking the map! It shows how to draw shapes,
add markers and pop-ups.</p>

<h3><%= link_to "Custom Markers", custommarkers_path  %></h3>
<p>Added this with commented notes within the source. This shows custom icons, 
createing icon classes containing shared options, 
create custom icons from a class and use them.</p>

<h3><%= link_to "GeoJSON", geojson_path  %></h3>
<p>GeoJSON is a format for encoding a variety of geographic data structures. 
A GeoJSON object may represent a geometry, a feature, or a collection of features. 
GeoJSON supports the following geometry types: Point, LineString, Polygon, MultiPoint, 
MultiLineString, MultiPolygon, and GeometryCollection. Features in GeoJSON contain a 
geometry object and additional properties, and a feature collection represents a list of features.</p>

<h3><%= link_to "Choropleth Map", choropleth_path  %></h3>
<p>This is a case study of creating a colorful interactive choropleth map of US States 
Population Density with the help of GeoJSON and some custom controls.
</p>

<h3><%= link_to "Layer Groups", layergroups_path  %></h3>
<p>
	This tutorial will show you how to group several layers into one, and how to use the layers control 
	to allow users to easily switch different layers on your map.
</p>

<h3><%= link_to "Non-Geographical Maps", nongeo_path  %></h3>
<p>
	Sometimes, maps do not represent things on the surface of the earth and,
	do not have a concept of geographical latitude and geographical longitude. 
	Most times this refers to big scanned images, such as lease plans.
	<br><br>
	This tutorial has a built-in square coordinate system, as can be seen in the corners. 
	This will allow us to establish a coordinate system.

</p>

<!-- we do not need this - this is for V1.0 which we are not using
<h3><%#= link_to "Map Panes - V1.0 not working!", mappanes_path  %></h3>-->
<br><br>