<h1>Leaflet Tutorials Homepage</h1>
<h3>This is where I am doing some testing...</h3>
<hr>

<h2>Tutorials:</h2>
<h3><%= link_to "Quickstart", quickstart_path  %></h3>
<p>Added this with commented notes within source. I have a pretty good understanding of what is going here.
<br>***Special note - this shows how to produce coords from clicking the map! It shows how to draw shapes,
add markers and pop-ups.</p>
<h3><%= link_to "Custom Markers", custommarkers_path  %></h3>
<h3><%= link_to "GeoJSON", geojson_path  %></h3>
<h3><%= link_to "Choropleth Map", choropleth_path  %></h3>
<h3><%= link_to "Layer Groups", layergroups_path  %></h3>
<h3><%= link_to "Non-Geographical Maps", nongeo_path  %></h3>
<h3><%= link_to "Map Panes - V1.0 not working!", mappanes_path  %></h3>