
<h2>Sandbox Builds (Learning - All that matters here is <%= link_to "Maps", maps_path  %>):</h2>

<h3><%= link_to "Maps Explanation", maps_path  %> - (Complete for drag and drop markers)</h3>
<p>Created a Maps model and an Areas model. (Areas are currently markers, that is about to change!). <br>
A Map has_many :areas, dependent: :destroy and and Area belongs_to :map.
Fully functional to add markers that change color according to status. Good start. <br>
I am re-cloning here so that I can take a stab at adding Polygons with another plugin on top of Leaflet: 
<a href="http://codeofsumit.github.io/leaflet.pm/" target="_blank">http://codeofsumit.github.io/leaflet.pm/</a>
<br><br>
<strong>This was very important for the learning of the underlying framework that we are building.</strong><br>
	<ol>
		<li>Leaflet base functionality</li>
		<li>A Model that has_many of another Model (Map has many Areas)</li>
		<li>RoR - linking of a Model within a Model</li>
		<li>Understanding differences of new and edit forms</li>
		<li>Saving coodinates from clicks of the mouse to the form</li>
		<li>instance variables within the controllers</li>
		<li>using imagemagick to store the maps width/height when uploading</li>
	</ol>

</p>
<hr>
<h3>
I need to use Maps and Areas in a different way so I need to build new! <br>
I am changing from dropping markers to drawing polygons:<br>
<a href="http://codeofsumit.github.io/leaflet.pm/" target="_blank">http://codeofsumit.github.io/leaflet.pm/</a><br>
The link will be here:</h3>
<hr>
<h3><%= link_to "First Lease Plan", firstlp_path  %></h3>
<p>Here is my first attempt at getting some of the options we need from Leaflet and RoR to work!</p>

<h3><%= link_to "Areas First Try", areas_path  %></h3>
<p>(No longer functional!) Created an Areas model to see if I can plot points from coords saved in a database.</p>


<h2>Tutorials (from http://leafletjs.com/):</h2>

<hr>

<h3><%= link_to "Quickstart", quickstart_path  %></h3>
<p>Added this with commented notes within source. I have a pretty good understanding of what is going here.
<br>***Special note - this shows how to produce coords from clicking the map! It shows how to draw shapes,
add markers and pop-ups.</p>

<h3><%= link_to "Custom Markers", custommarkers_path  %></h3>
<p>Added this with commented notes within the source. This shows custom icons, 
createing icon classes containing shared options, 
create custom icons from a class and use them.</p>

<h3><%= link_to "GeoJSON", geojson_path  %></h3>
<p>GeoJSON is a format for encoding a variety of geographic data structures. 
A GeoJSON object may represent a geometry, a feature, or a collection of features. 
GeoJSON supports the following geometry types: Point, LineString, Polygon, MultiPoint, 
MultiLineString, MultiPolygon, and GeometryCollection. Features in GeoJSON contain a 
geometry object and additional properties, and a feature collection represents a list of features.</p>

<h3><%= link_to "Choropleth Map", choropleth_path  %></h3>
<p>This is a case study of creating a colorful interactive choropleth map of US States 
Population Density with the help of GeoJSON and some custom controls.
</p>

<h3><%= link_to "Layer Groups", layergroups_path  %></h3>
<p>
	This tutorial will show you how to group several layers into one, and how to use the layers control 
	to allow users to easily switch different layers on your map.
</p>

<h3><%= link_to "Non-Geographical Maps", nongeo_path  %></h3>
<p>
	Sometimes, maps do not represent things on the surface of the earth and,
	do not have a concept of geographical latitude and geographical longitude. 
	Most times this refers to big scanned images, such as lease plans.
	<br><br>
	This tutorial has a built-in square coordinate system, as can be seen in the corners. 
	This will allow us to establish a coordinate system.

</p>

<!-- we do not need this - this is for V1.0 which we are not using
<h3><%#= link_to "Map Panes - V1.0 not working!", mappanes_path  %></h3>-->
<br><br>